* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
a {
  color: white;
}
.contanier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 10rem;
}
.search-container {
  padding: 4rem;
}
.search-container h2 {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.search-container input {
  padding: 0.5rem;
  font-size: 1.5rem;
  outline: none;
}
.search-container button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: purple;
  color: white;
}
.profile-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 4rem;
}
.profile-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-info {
  display: flex;
  align-items: center;
}
.img-sec {
  height: 10rem;
  width: 10rem;
  padding: 2rem;
}
.img-sec img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profile-info h2 {
  font-size: 1.8rem;
  /* padding: 0.5rem 0.1rem; */
}
.profile-heading button {
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  background-color: purple;
  color: white;
  align-self: center;
  border: none;
  margin: 0 1rem;
}
.profile-about {
  padding: 2rem;
}
.profile-about h2 {
  font-size: 1.8rem;
}
.profile-about p {
  font-size: 1.5rem;
}
.profile-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profile-itembox h2 {
  font-size: 1.5rem;
}
.profile-itembox p {
  font-size: 1.2rem;
  text-align: center;
}
